* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --morado: #828ad0;
    --celeste: #60d4d4;
    --fondo: #f8ed8f;
}
/* globales */

body {
    font-family: "Inter", sans-serif;
    background: var(--fondo);
    height: 100vh;
}

.boton {
    height: 75px;
    width: 328px;
    background-color: #000000;
}

.boton-borrar{
    height: 35px;
    width: 110px;
    background-color: #000000;
}

.boton__span{
    
    line-height: 19px;
    height: 75px;
    width: 328px;
    font-size: 20px;
    border: 4px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-0.5rem,-0.5rem);
    transition: transform .2s cubic-bezier(.34,1.56,.64,1);
}
.boton__span:hover{
    transform: translate(0,-0);
    cursor: pointer;
}

.textarea {
    resize: none;
    border: none;
}
.textarea:focus {
    outline: none;
}

.container {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

.encriptador {
    display: flex;
    justify-content: space-around;
    height: 96%;
}
.encriptador__img {
    margin-top: 20px;
}

/* input */
.input {
    height: 90%;
    align-self: center;
}

.input__form {
    display: flex;
    flex-direction: column;
    height: 100%;

    gap: 50px;
}

.input__texto {
    height: 80%;
    padding: 10px;
    font-size: 32px;
    line-height: 150%;
    background: #f3f5fc;
    border: 4px solid #000000;
    box-shadow: 15px 15px 0px -5px #000000;
}

.input__texto::placeholder {
    color: #0f52a5;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.input__extra {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.extra__smilei {
    position: absolute;
    left: -170px;
}

.extra__vectorp {
    position: absolute;
    left: -50px;
}
.extra__vector {
    position: absolute;
    left: 0;
}

.input__advertencia {
    position: absolute;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    left: 20px;
}

.boton__span-borrar {
    height: 35px;
    width: 110px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    color: #0a3871;
}
.input__botones {
    display: flex;
    gap: 20px;
}

.boton__span-encriptar {
    background: var(--morado);
    color: #ffffff;
}

.boton__span-desencriptar {
    background: var(--celeste);
    color: #0a3871;
}

/* output */
.output {
    height: 90%;
    width: 400px;
    align-self: center;
    background-color: #ffffff;
    border: 4px solid #000000;
    box-shadow: 15px 15px 0px -5px #000000;
}

.output__form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;
}
.output__texto {
    background-color: inherit;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 5;
}

.output__textarea {
    height: 90%;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 150%;
    padding: 15px;
}
.boton__span-copiar {
    background-color: #f1e7d1;
    color: #0a3871;
    margin-bottom: 20px;
}

.output__tapa {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
    background-color: white;
}
.output__parrado1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}

.output__parrado2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

/* footer */
.footer {
    height: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer__nombre {
    display: flex;
    gap: 5px;
}

/* media 1024 */

@media (max-width: 1024px) {
    .container {
        width: 100vw;   
    }
    .encriptador {
        height: 90%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .encriptador__logo {
        align-self: flex-start;
    }

    .input {
        width: 90%;
        height: 40%;
    }

    .input__form {
        flex-direction: column;
        gap: 20px;
    }
    
    .extra__smilei,
    .extra__vectorp {
        display: none;
    }

    .input__botones {
        width: 100%;
        justify-content: space-between;
    }

    .output {
        width: 90%;
        height: 30%;
    }
    .output__boton {
        width: 90%;
        margin-bottom: 10px;
    }

    .output__tapa {
        width: 100%;
    }

    .footer {
        
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .output__img {
        display: none;
    }
}

/* media 768 */

@media (max-width: 768px) {

    .container {
        height: 100%;
    }
    .encriptador{
        height: 100%;
    }
    .input {
        width: 80%;
        height: 80vh;
    }

    .input__botones {
        flex-direction: column;
        align-items: center;
    }

    .output {
        width: 80%;
        height: 40vh;
    }
    
    
}
